@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  background-color: #ffffff;
}

#root {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

@layer utilities {
  .tc {
    @apply transition-colors;
  }
  .ta {
    @apply transition-all;
  }

  .feedback {
    @apply cursor-pointer transition-colors hover:bg-black/10;
  }
}

@layer components {
  .app-container {
    --app-max-width: 1600px;
    max-width: var(--app-max-width);
    @apply mx-auto px-4;
  }

  .d {
    @apply bg-red-400;
  }

  .btn {
    @apply ta flex justify-center items-center gap-x-2 rounded bg-x-green-1 px-6 py-3 text-lg font-bold text-white hover:shadow-lg;
    @apply active:bg-x-green-1/70;
  }

  .btn.red {
    @apply bg-th-red active:bg-th-red/70;
  }
  .btn.yellow {
    @apply bg-th-yellow active:bg-th-yellow/70;
  }

  .btn.btn-compact {
    @apply px-4 py-2;
  }

  .btn.btn-hover-yellow {
    @apply hover:bg-th-yellow active:bg-th-yellow/70;
  }

  .btn.btn-scale {
    @apply hover:scale-105 active:scale-100;
  }

  .cat-btn {
    @apply ta border-2 border-transparent;
    @apply hover:scale-[1.02] hover:border-x-green-2 hover:shadow-x-1;
  }

  .prod-card {
    @apply ta rounded-lg border-2 border-x-grey-2 p-4 text-left cursor-pointer;
    @apply hover:scale-[1.02] hover:border-x-green-2 hover:shadow-x-1;
  }
}
